header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
header h5,h6{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}
.card{
    width: 100%;
    margin-top: 10px;
}
.card-header{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 0.8rem;
}
.card-footer{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-top: 2px;
    font-size: 0.8rem;
}
.card-body{
    margin-top: 2px;
    border: 1px solid #000;
}
.text-bold{
    font-weight: 900;
}
.bg-primary {
    background-color: steelblue;
}
.bg-success{
    background-color: #28a745;
}
.bg-danger{
    background-color: #dc3545;
}
.bg-secondary{
    background-color: #6c757d;
}
.d-flex{
    display: flex;   
}
.aling-center{
    justify-content: center;
    align-items: center;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-space-around{
    justify-content: space-around;
}
.text-center{   
    text-align: center;
}
.text-white{
    color: white;
}
.text-danger{
    color: #dc3545;
}
.personales-img{
    padding: 5px;
    width: 20%;
}
.personales-data{
    width: 80%;
}
.table{
    width: 100%;
    font-size: 0.7rem;
}
.table th{
    text-align: left;
    padding-left: 3px;
}
.table td{
    padding-left: 3px;
}
.table ul{
    margin-top: 0px;
    margin-bottom: 0px;
    list-style-type: none; /* Quita el estilo de lista predeterminado */
    padding-left: 1px;       /* Quita el padding predeterminado */
}
.table-striped{
    border-collapse: collapse;   
}
.table-striped th{
    border: 1px solid #000;
}
.table-striped td{
    border: 1px solid #000;
}
body{
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer{
    font-size: 0.8rem;
}
footer p{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 0.8rem;
}
footer span{
    display: inline-block;
    border-top: #000 1px solid;
    font-weight: 900;
    min-width: 150px;
    padding-top: 3px;
}
.fixed-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 40px;
    padding: auto;
}